body{
    /* background-color: #757780; */
    /* background:linear-gradient(#757780,#DBD4D3); */
    background: -webkit-linear-gradient(left, transparent 0%,#757780 50%,transparent 100%);
    text-align: center;
    font-family: 'Russo One', sans-serif;
}
p{
    line-height: 1px;
}
canvas {
    /* border: 3px black solid; */
    background-size: cover;
    background-image: url("img/lunarbgsmall.jpg");
}
button{
    font-family: 'Russo One', sans-serif;
    border: 2px solid #D2CCA1;
    background-color:#387780;
    padding: 10px 50px;
}
.col{
    padding-right: 2px;
    padding-left: 0;
}
.container{
    margin: 0;
}
#footer{
    color: #393a3f;
    font-size:16px;
    font-weight: 100;
}

